<%- include('partials/header') %>

    <h1 style="text-align: center;">Meus Projetos</h1>

    <div class="card-container">
        <% projetos.forEach(proj=> { %>
            <div class="card">
                <h2>
                    <%= proj.nome %>
                </h2>
                <p>
                    <%= proj.descricao %>
                </p>

                <% if (proj.repositorio) { %>
                    <a href="<%= proj.repositorio %>" target="_blank" class="btn">🔗 GitHub</a>
                    <% } %>

                        <% if (proj.video) { %>
                            <a href="<%= proj.video %>" target="_blank" class="btn">🎥 Vídeo</a>
                            <% } %>
            </div>
            <% }) %>
    </div>

    <%- include('partials/footer') %>